<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Sladja/Desktop/seleniumwebdriver/selenumwebdrivermaven/src/main/java/TestNG/SecondTest.java">
        <classes>
            <class name="TestNG.SecondTest">
                <methods>
                    <include name="login"/>
                </methods>
            </class>
        </classes>
    </test>
 </suite>